/* RESET  */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* FONT  */

*
{
    font-family:Arial, Helvetica, sans-serif;
}

/* GENERAL */



.container{
    width: 90%;
    margin: auto ;
}
 
section{
    margin-top: 30px
}

/* COLORS  */

.b-color-blue{
    background-color: #3484F5;
}

.b-color-light-blue{
    background-color: #BCDCFC;
}


.color-purple{
    background-color: #9593DE;
}

.b-color-white{
    background-color: white;
}


  /* HEADER  */

.header-main-content{
    display: flex;
    justify-content: space-between;
    background-color: #3484F5;
}

.nav-container {
    display: none;
}

.nav-container ul {
    display: flex;
    list-style: none;
}

.nav-container ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.logo-container{
    font-size: 2em;
    color: white;
    padding: 10px;


}

.hamburger-container{
    font-size: 2em;
    color: white;
    padding: 10px;
}
/* MAIN  */
/* SECTION ONE  */

.cards{
    display: flex;
    flex-wrap: wrap;
    }
    
.card{
    width: 100% ;
    padding: 10px;
    margin: 10px 0;
}






/* SECTION TWO  */
.cards-2{
    display: flex;
    flex-wrap: wrap;
    }

.card-2{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
 }

 .card-2:first-child{
    color: white;
 }

 /* SECTION THREE  */
 .cards-3{
    display: flex;
    flex-wrap: wrap;
    }

 .card-3{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
 }
 .card-3 > .text {
    text-align: center;
}

 .fist-card-3-content{

 }

   /*
   --------------------------------------------
    RESPONSIVE
    --------------------------------------------
    */



   /* TABLET --> DA 768 IN POI  */

   @media screen and (min-width: 768px){

    /* HEADER  */


    /* MAIN  */

    .card{
        width: calc(100% / 3);
    }

    .card:first-child{
        width: calc((100% / 3) * 2 );
    }

    /* SECOND SECTION  */

    .fist-card-3-content {
        display: flex
    }

    .fist-card-3-content > div {
        padding: 10px;
    }
    
    /* FOOTER  */


}


/* DESKTOP --> DA 992 IN POI  */

@media screen and (min-width: 992px){

   

    .container{
        width: 70%;
    }

     /* HEADER  */

    .nav-container{
    display: block;
    }
    .hamburger-container{
        display: none;
    }


     /* MAIN  */

     /* SECTION ONE  */
    .fist-card-content{
        display: flex;
    }

    .first-card-content > div{
        width: 50%;
        padding: 10px;
    }

     /* SECTION TWO  */

     .card-2{
        width: 50%;
        
     }

     .card-2:last-child{
        align-items: flex-end;
     }

     .card-2-2{
        align-items: flex-end;
        
     }


   



    /* FOOTER  */


}