/* RESET  */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* FONT  */

*
{
    font-family:Arial, Helvetica, sans-serif;
}

/* GENERAL */



.container{
    width: 90%;
    margin: auto ;
}
 
section{
    margin-top: 30px
}

/* COLORS  */

.b-color-blue{
    background-color: #3484F5;
}

.b-color-light-blue{
    background-color: #BCDCFC;
}


.color-purple{
    background-color: #9593DE;
}

.b-color-white{
    background-color: white;
}


.color-black{
    background-color: #333333;

}


  /* HEADER  */

.header-main-content{
    display: flex;
    justify-content: space-between;
    background-color: #3484F5;
    align-items: center;
}

.nav-container {
    display: none;
    vertical-align: middle;

}

.nav-container ul {
    display: flex;
    list-style: none;
}

.nav-container ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size:0.9em;
}

.logo-container{
    font-size: 2em;
    color: white;
    padding: 10px;
    padding-top: 20px;
}


#li-button{
    background-color: white;
    border-radius: 30px;
    color: black;
}
    

.hamburger-container{
    font-size: 2em;
    color: white;
    padding: 10px;
    padding-top: 20px;

}
/* MAIN  */
/* SECTION ONE  */

.cards{
    display: flex;
    flex-wrap: wrap;
    }
    
.card{
    width: 100% ;
    padding: 10px;
    margin: 10px 0;
}






/* SECTION TWO  */
.cards-2{
    display: flex;
    flex-wrap: wrap;
    }

.card-2{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
 }

 .card-2:first-child{
    color: white;
 }

 /* SECTION THREE  */
 .cards-3{
    display: flex;
    flex-wrap: wrap;
    }

 .card-3{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
 }
  .text {
    text-align: center;
}

 .fist-card-3-content{

 }

 /* SECTION FOUR  */

 .cards-4{
    display: flex;
    flex-wrap: wrap;
    }

 .card-4{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
 }

 /* SECTION FIVE  */

 .cards-5{
    display: flex;
    flex-wrap: wrap;
    }

 .card-5{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
 }



 /* FOOTER  */
footer:last-child{
    margin:0;
}

 .container-footer{
    width: 90%;
    margin: auto ;
}

    .card-6{
        text-align: center;
        color: white;
    }

   /*
   --------------------------------------------
    RESPONSIVE
    --------------------------------------------
    */



   /* TABLET --> DA 768 IN POI  */

   @media screen and (min-width: 768px){

    /* HEADER  */


    /* MAIN  */

    .card{
        width: calc(100% / 3);
    }

    
    .card:first-child{
        width: calc((100% / 3) * 2 );
    }

    /* SECOND SECTION  */

    .fist-card-3-content {
        display: flex
    }

    .fist-card-3-content > div {
        padding: 10px;
    }

    /* SECTION FOURTH */

    .card-4{
        width: 50%;
    }
    
    /* FOOTER  */


}


/* DESKTOP --> DA 992 IN POI  */

@media screen and (min-width: 992px){

   

    .container{
        width: 70%;
    }

     /* HEADER  */

    .nav-container{
    display: block;
    }
    .hamburger-container{
        display: none;
    }

    .logo-container{
        width: 80px;
        padding: 10px;
        font-size:medium;
    }

    .nav-container ul li a  {
        
    }

     /* MAIN  */

     /* SECTION ONE  */
    .fist-card-content{
        display: flex;
    }

    .first-card-content > div{
        width: 50%;
        padding: 10px;
    }

     /* SECTION TWO  */

     .card-2{
        width: 50%;
        
     }

     .card-2:last-child{
        align-items: flex-end;
     }

     .card-2-2{
        align-items: flex-end;
        
     }

     /* SECTION FOUR */

    .card-4{
        width: calc(100% / 3);
    }

   /* SECTION FIVE */

   .card-5:first-child{
        width: 70%;
   }

   .card-5:last-child{
    width: 30%;
}



    /* FOOTER  */

    .container-footer{
        width: 50%;
        margin: auto;
    }
}